In [1]:
import pandas as pd
import great_expectations as gx
import great_expectations.expectations as gxe
import sqlalchemy as sa

In [2]:
# Import sample data into Pandas DataFrame.
df = pd.read_csv(
    "https://raw.githubusercontent.com/great-expectations/gx_tutorials/main/data/yellow_tripdata_sample_2019-01.csv"
)

df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['dropoff_datetime'] = pd.to_datetime(df['dropoff_datetime'])

df.head()

,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,trip_distance,rate_code_id,store_and_fwd_flag,pickup_location_id,dropoff_location_id,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2019-01-15 03:36:12,2019-01-15 03:42:19,1,1.0,1,N,230,48,1,6.5,0.5,0.5,1.95,0.0,0.3,9.75,NaN
1,1,2019-01-25 18:20:32,2019-01-25 18:26:55,1,0.8,1,N,112,112,1,6.0,1.0,0.5,1.55,0.0,0.3,9.35,0.0
2,1,2019-01-05 06:47:31,2019-01-05 06:52:19,1,1.1,1,N,107,4,2,6.0,0.0,0.5,0.00,0.0,0.3,6.80,NaN
3,1,2019-01-09 15:08:02,2019-01-09 15:20:17,1,2.5,1,N,143,158,1,11.0,0.0,0.5,3.00,0.0,0.3,14.80,NaN
4,1,2019-01-25 18:49:51,2019-01-25 18:56:44,1,0.8,1,N,246,90,1,6.5,1.0,0.5,1.65,0.0,0.3,9.95,0.0

In [4]:
url = "postgresql://postgres:postgres@localhost:5432/postgres"

engine = sa.create_engine(url)

In [67]:
df.to_sql("stg_taxi_data", engine, if_exists="append", schema="stage", index=False)

1000

In [5]:
context = gx.get_context()

In [6]:
pg_datasource = context.data_sources.add_or_update_postgres(
    name="taxi_data_data_source",
    connection_string=url
)

In [7]:
pg_data_asset = pg_datasource.add_table_asset(
    name="postgres_stg_taxi_data", table_name="stg_taxi_data", schema_name="stage"
)

In [8]:
batch_definition = pg_data_asset.add_batch_definition_whole_table("batch definition")

In [9]:
batch = batch_definition.get_batch()

In [10]:
batch

In [11]:
suite_name = "sql_taxi_table"
suite = context.suites.add_or_update(
    gx.core.expectation_suite.ExpectationSuite(name=suite_name,)
)

In [12]:
suite.add_expectation(
    gxe.ExpectColumnValuesToBeOfType(
        column="vendor_id", type_="Integer")
)

ExpectColumnValuesToBeOfType(id='6f1948c8-a8d3-498f-943b-7bc9f7ce05fa', meta=None, notes=None, result_format=<ResultFormat.BASIC: 'BASIC'>, description=None, catch_exceptions=True, rendered_content=None, windows=None, batch_id=None, column='vendor_id', mostly=1, row_condition=None, condition_parser=None, type_='Integer')

In [13]:
validation_definition = context.validation_definitions.add(
    gx.core.validation_definition.ValidationDefinition(
        name="validation definition",
        data=batch_definition,
        suite=suite,
    )
)

In [14]:
checkpoint = context.checkpoints.add_or_update(
    gx.checkpoint.checkpoint.Checkpoint(
        name="checkpoint", validation_definitions=[validation_definition]
    )
)

In [15]:
checkpoint_result = checkpoint.run()
print(checkpoint_result.describe())

Calculating Metrics: 100%|██████████| 1/1 [00:00<00:00, 25.82it/s]

{
    "success": true,
    "statistics": {
        "evaluated_validations": 1,
        "success_percent": 100.0,
        "successful_validations": 1,
        "unsuccessful_validations": 0
    },
    "validation_results": [
        {
            "success": true,
            "statistics": {
                "evaluated_expectations": 1,
                "successful_expectations": 1,
                "unsuccessful_expectations": 0,
                "success_percent": 100.0
            },
            "expectations": [
                {
                    "expectation_type": "expect_column_values_to_be_of_type",
                    "success": true,
                    "kwargs": {
                        "batch_id": "taxi_data_data_source-postgres_stg_taxi_data",
                        "column": "vendor_id",
                        "type_": "Integer"
                    },
                    "result": {
                        "observed_value": "INTEGER"
                    }
                }
            ],
            "result_url": null
        }
    ]
}